@using EPTools.Core.Models.Ego
<h3>CharacterMorphPartial</h3>

<MudText>@Morph.Name</MudText>
<MudTextField T="string" @bind-Value="@Morph.Size" Label="Size"></MudTextField>
<MudTextField T="string" @bind-Value="@Morph.MorphType" Label="Type"></MudTextField>
@code {
    [Parameter]
    public required Morph Morph { get; set; } 
}