@page "/randomcharacter"
@inject LifepathService Lps
@inject IJSRuntime JsRuntime

<h3>RandomCharacter</h3>

<button @onclick="DownloadText">Download text file</button>

@code {

    async Task DownloadText()
    {
        // Generate a text file
        var s = System.Text.Json.JsonSerializer.Serialize(await Lps.GenerateEgo());
        byte[] file = System.Text.Encoding.UTF8.GetBytes(s);
        await JsRuntime.InvokeVoidAsync("BlazorDownloadFile", "RandomCharacter.json", "text/plain", file);
    }
}

